on: 
  workflow_dispatch:
    inputs:
      tag:
        description: 'qmuntal/draco tag to clone'     
        required: true
name: CDraco
jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cc: clang
            cxx: clang++
            generator: Unix Makefiles
            libname: libcdraco_linux_amd64
          - os: macos-latest
            cc: clang
            cxx: clang++
            generator: Unix Makefiles
            libname: libcdraco_darwin_amd64
          - os: windows-latest
            cc: x86_64-w64-mingw32-gcc
            cxx: x86_64-w64-mingw32-g++
            generator: MinGW Makefiles
            libname: libcdraco_windows_amd64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.tag }}
          fetch-depth: 1
          repository: qmuntal/draco
      - run: mkdir _gh_build
      - run: |
          cmake -G "${{ matrix.generator }}" \
            -DDRACO_C_API=ON \
            -DDRACO_POINT_CLOUD_COMPRESSION=ON \
            -DDRACO_MESH_COMPRESSION=ON \
            -DDRACO_STANDARD_EDGEBREAKER=ON \
            -DCMAKE_BUILD_TYPE=Release ..
        working-directory: ./_gh_build
        shell: bash
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
      - run: make -j10
        working-directory: ./_gh_build
      - name: Archive binaries
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.libname }}
          path: _gh_build/libcdraco.a
